[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mcoombs2027
[access "refs/for/refs/*"]
	read = group user/mcoombs2027
	push = group user/mcoombs2027
	label-Code-Review = -2..+2 group user/mcoombs2027
	label-Verified = -1..+1 group user/mcoombs2027
	rebase = group user/mcoombs2027
	removeReviewer = group user/mcoombs2027
	submit = group user/mcoombs2027
[access "refs/heads/*"]
	read = group user/mcoombs2027
	create = group user/mcoombs2027
	push = +force group user/mcoombs2027
	pushMerge = group user/mcoombs2027
[access "refs/tags/*"]
	push = +force group user/mcoombs2027
	pushTag = group user/mcoombs2027
	pushSignedTag = group user/mcoombs2027
